{% extends "base.html" %}

{% load static %}

{% block scripts %}
<script src="{% static 'js/main.js' %}" defer></script>
<!-- defer - dosen't allow the code run until the load all page -->
{% endblock scripts %}

{% block title %}
posts
{% endblock title %}

{% block content %}

<!-- {% for obj in qs %}
    {{ obj.title }} - {{ obj.body }} <br>
{% endfor %} -->



    <div id='posts-box'></div>

    <div id="spinner-box" class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <br>

    <!-- <div id="spinner-boxx">
        <progress class="progress is-small is-primary" max="100">15%</progress>
    </div> -->

    <!-- <div id='hello-world'></div> -->
    
    <div class="text-center mb-3" id="end-box">
        <button class="btn btn-primary" id="load-btn">Load More</button>
    </div>

{% endblock content %}